export DATABASE_URL=postgresql://adpin:pass1234@localhost:5432/erosync?sslmode=disable

export MAIL_HOST=localhost
export MAIL_PORT=1025
export MAIL_FROM=support@erosyncng.com

export FRONTEND_URL=http://erosyncng.com
export PORT=8080
export APP_NAME=Erosync
export JWT_SECRET=my-insecure-25566-bit-jet-secret
