export APP_ENV=development
export APP_NAME=Erosync
export APP_URL=http://localhost:3000
export PORT=8080

export DATABASE_URL=postgresql://admin:pass1234@127.0.0.1:5432/erosync?sslmode=disable

# Mail Config
export MAIL_HOST=localhost
export MAIL_PORT=1025
export MAIL_FROM="Erosync <support@erosyncng.com>"

export JWT_SECRET=my-insecure-256-bits-jwt-secret

export GOOSE_DRIVER=postgres 
export GOOSE_DBSTRING=$DATABASE_URL
export GOOSE_MIGRATION_DIR=./migrations
