package templates

templ BaseEmail(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			if title != "" {
				<title>{ title } | Erosync Limited</title>
			} else {
				<title>Erosync Limited</title>
			}
		</head>
		{ children... }
	</html>
}
